<div class="comment-box">
      <div class="comment-author">
            <a href="/profile/{{author}}" class="comment-author-link"> {{author}} </a>
      </div>
      <div class="comment-content">
            <p>{{text}} </p>
      </div>
      <div class="comment-date">
            <span>Commented on: </span>
            <span>{{date}}</span>
      </div>
</div>