<div class="post-box">
    <div class="post-content">
        <a href="/post/{{postid}}" class="post-link">{{postTitle}} </a>
        <p>{{postDesc}}</p>
    </div>
    <div class="post-date">
        <span> Posted on</span>
        <span> {{postDate}}</span>
    </div>
</div>