<div class="profile-box">
      <div class="recent-post-content">
      <a href="/post/{{postid}}" class="user-post-link">{{postTitle}}</a>
      <div>{{postDesc}}</div>
      </div>

      <div class="recent-post-date">
      <span> Posted on</span>
      <span> {{postDate}} </span>
      </div>
</div>