<div class="profile-box">
      <div class="recent-comment-content">
            <span>On: <a href="/post/{{postid}}" class="user-post-link">{{posttitle}} </a></span>
            <p>{{comment}}</p>
      </div>
            
      <div class="recent-comment-date">
            <span> Commented on:</span>
            <span>{{commentdate}}</span>
      </div>
</div>