<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" media="all" href="/css/index.css">
        <link rel="stylesheet" type="text/css" media="all" href="/css/forum.css">
        <link rel="stylesheet" type="text/css" media="all" href="/css/create.css">
        <link rel="stylesheet" type="text/css" media="all" href="/css/profile.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/js/create.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
        <script type="text/javascript" src="/js/forumactions.js"></script>
        <script type="text/javascript" src="/js/postactions.js"></script>
        
        <title> {{title}} </title>
    </head>
    {{{body}}}
</html>