<body>
    {{> sidebar}}

    <div id="home-page-container">
        <div id="home-header">
            <span>ABOUT</span>
        </div>
        <div id="trending-games" class="home-pages">
            <p>NPM Packages used</p>

            <div id="npm-packages">
                <ul>
                    <li>dependencies</li>
                    <ul>
                        <li>bcrypt</li>
                        <li>body-parser</li>
                        <li>express</li>
                        <li>express-flash</li>
                        <li>express-handlebars</li>
                        <li>express-session</li>
                        <li>mongoose</li>
                        <li>multer</li>
                        <li>passport</li>
                        <li>passport-local</li>
                        <li>path</li>
                        <li>url</li>
                    </ul>
                    <li>devDependencies</li>
                    <ul>
                        <li>dotenv</li>
                        <li>nodemon</li>
                    </ul>
                </ul>
            </div>
        </div>
        
        <div id="programmers" class="home-pages">
            <p>Programmers</p>

            <div id="programmers-list">
                <ul>
                    <li>Azarcon, Juan Carlo Co</li>
                    <li>Bondoc, Ma. Ysabel Sajorda</li>
                    <li>Castillo, Solomon Nivron Santiago</li>
                    <li>Manalo, Jaime Luis Punto</li>
                </ul>
            </div>
        </div>
    </div>
</body>