
<body>
        {{> sidebar}}

        <div id="home-page-container">
            <div id="game-page-header">
                <span id="game-page-name">GENRES</span>
            </div>
            <div id="trending-games" class="home-pages">
                <p>Role Playing Games</p>
                <div class="games">
                    <a href="/page/eldenring"><img class="game-logo" src="../images/eldenring.jpg" /></a>
                </div>
            </div>
            <div id="trending-games" class="home-pages">
                <p>Shooters</p>
                <div class="games">
                    <a href="/page/valorant"><img class="game-logo" src="../images/valorant.jpg" /></a>
                    <a href="/page/apexlegends"><img class="game-logo" src="../images/apex.jpg" /></a>
                    <a href="/page/fortnite"><img class="game-logo" src="../images/fortnite.jpg" /></a>
                </div>
            </div>
            <div id="trending-games" class="home-pages">
                <p>Platformers and Puzzles</p>
                <div class="games">
                    <a href="/page/odyssey"><img class="game-logo" src="../images/odyssey.jpg" /></a>
                </div>
            </div>
        </div>
</body>